.snapshot {
    margin-bottom: 100px;
}

.snapshot .left-column {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
}

.snapshot .left-column .main-image {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.snapshot .left-column .main-image.square {
    height: 400px;
    width: 100%;
}

.snapshot .left-column .thumbnail {
    height: 60px;
    width: 60px;
    border: 1px solid #858585;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.snapshot .right-column {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.snapshot .right-column hr {
    width: 30%;
}

.snapshot h1.serif {
    margin-bottom: 40px;
    margin-top: 40px;
}

.snapshot h1 {
    color: #11294B;
}

.snapshot .left-column .main-image .arrow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 0 15px;
}

.snapshot .left-column .main-image .arrow-container .arrow-circle {
    height: 35px;
    width: 35px;
    background-color: #11294B;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.2s ease-in-out;
}

.snapshot .left-column .main-image .arrow-container .arrow-circle:hover {
    background-color: #048B90;
}



/** General Mobile Display */
@media (max-width: 800px) {

    .snapshot .left-column {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        padding: 0;
        text-align: center;
    }
    
    .snapshot .left-column .main-image {
        height: 250px;
        width: 100%;
        margin-bottom: 15px;
    }

    .snapshot .left-column .thumbnail {
        height: 10px;
        width: 10px;
        background: #858585 !important;
        border-radius: 50%;
    }

    .snapshot .left-column .thumbnail .image-blob {
        display: none;
    }

    .snapshot .right-column {
        width: 100%;
        display: block;
    }

    .snapshot .left-column .main-image .arrow-container {
        display: none;
    }

}




/** Anchor Hack **/
span.anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}