.snapshot {
    margin-bottom: 100px;
}

.snapshot .left-column {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
}

.snapshot .left-column .main-image {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
}

.snapshot .left-column .thumbnail {
    height: 60px;
    width: 60px;
    border: 1px solid #858585;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.snapshot .right-column {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.snapshot .right-column hr {
    width: 30%;
}

.snapshot h1.serif {
    margin-bottom: 40px;
    margin-top: 40px;
}

.snapshot h1 {
    color: #11294B;
}


/** General Mobile Display */
@media (max-width: 800px) {

    .snapshot .left-column {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
    
    .snapshot .left-column .main-image {
        height: 250px;
        width: 100%;
        margin-bottom: 15px;
    }

    .snapshot .left-column .thumbnail {
        height: 40px;
        width: 40px;
    }

    .snapshot .right-column {
        width: 100%;
        display: block;
    }





}