.color-banner {
    width: 100%;
    font-size: 3.5rem;
    min-height: 100px;
    padding: 60px 20%;
    text-align: center;
    font-weight: 600;

}

.color-banner.teal {
    background-color: #69C8C4;
    color: #fff;
}

@media (max-width: 800px) {
    .color-banner {
        font-size: 2rem;
    }
}