.grid-box {
    padding: 20px 0;
    width: 100%;
}


.grid-box .navigation .tab {
    display: inline-block;
    font-size: 1.6rem;
    margin-right: 30px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.grid-box .navigation .tab.selected {
    font-weight: 700;
    transition: font-weight 0.1s ease-in-out
}

/* Support for different themes */

/** Teal (Default)*/
.grid-box-theme-teal .navigation {
    border-bottom: 2px solid #69C8C4;
}

.grid-box-theme-teal .navigation .tab {
    color: #69C8C4;
}

.grid-box-theme-teal .navigation {
    border-bottom: 2px solid #69C8C4;
}

.grid-box-theme-teal .grid-box-default-slide .text-container a {
    color: #69C8C4;
    border-bottom: 1px solid #69C8C4;
}

.grid-box-theme-teal .grid-box-default-slide hr {
    background: #69C8C4;
}

/** Purple */
.grid-box-theme-purple .navigation {
    border-bottom: 2px solid #A5228E;
}

.grid-box-theme-purple .navigation .tab {
    color: #A5228E;
}

.grid-box-theme-purple .navigation {
    border-bottom: 2px solid #A5228E;
}

.grid-box-theme-purple .grid-box-default-slide hr {
    background: #A5228E;
}

.grid-box-theme-purple .grid-box-default-slide .text-container a {
    color: #A5228E;
    border-bottom: 1px solid #A5228E;
}


/** Red **/

.grid-box-theme-red .navigation {
    border-bottom: 2px solid #E74B26;
}

.grid-box-theme-red .navigation .tab {
    color: #E74B26;
}

.grid-box-theme-red .navigation {
    border-bottom: 2px solid #E74B26;
}

.grid-box-theme-red .grid-box-default-slide hr {
    background: #E74B26;
}

.grid-box-theme-red .grid-box-default-slide .text-container a {
    color: #E74B26;
    border-bottom: 1px solid #E74B26;
}

/** Other Elements **/

.image-blob {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.grid-box-default-slide {
    padding: 20px 0;
}

.grid-box-default-slide .image-tile {
    width: 40%;
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

.grid-box-default-slide .image-tile.resources {
    height: 320px;
    vertical-align: top;
}

.grid-box-default-slide .text-container {
    width: calc(60% - 20px);
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.grid-box-default-slide .text-container a {
    padding-bottom: 2px;
    text-decoration: none;
}

.grid-box-default-slide i {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #11294B;
}

.grid-box-default-slide h1 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #11294B;
    font-size: 1.9rem;
}

.grid-box-default-slide hr {
    /*
    height: 2px;
    width: 75%;
    margin: 10px 0 40px -20%;*/

    height: 2px;
    width: 25%;
    margin: 20px 0 20px 0;
}


@media (max-width: 800px) {

    .grid-box-default-slide .image-tile {
        width: 100%;
        height: 250px;
        display: block;
    }

    .grid-box-default-slide .image-tile.resources {
        width: 100%;
        height: 250px;
        display: block;
    }

    .grid-box-default-slide .text-container {
        width: 100%;
        margin: 20px 0 0 0;
        display: block;
        padding: 0;
    }

    .grid-box-default-slide h1 {
        color: #11294B;
        font-size: 1.4rem;
    }

    
    
}