.two-column-grid .grid-column {
    width: calc(50% - 25px);
    padding: 30px 0;
    display: inline-block;
    vertical-align: top;
}

.two-column-grid .grid-column:last-of-type {
    margin-left: 50px;
}


.two-column-grid {
    margin-bottom: 60px;
}

/** General Mobile Display */
@media (max-width: 800px) {
    .two-column-grid .grid-column {
        width: 100%;
        padding: 30px 0;
        display: block;
    }

    .two-column-grid .grid-column:last-of-type {
        margin-left: 0px;
    }

}