header {
    background-color: #fff;
    color: #11294B;
    font-size: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 20;
    box-shadow: 0 0 3px 2px #44444480;
    align-items: center;
}

header.flex {
    display: flex;
}

header a {
    text-decoration: none;
    color: inherit;
}

header .social-link-row {
    width: calc(100% / 3);
}

.titlespace {
    width: calc(100% / 3);
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: top;
}

.titlespace h1 {
    font-size: 2.8rem;
    margin: 0;
}

.menu-icon-space {
    font-size: initial;
    width: calc(100% / 3);
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: top;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu-icon-space .long-menu-icon {
    margin-left: 15px;
    width: 40px;
    height: 100%;
    background-image: url('./../../../static/menu-icon.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}


.menu-icon-space .soft-button {
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    align-items: center;
}