header {
    background-color: #fff;
    color: #11294B;
    padding: 20px 20px;
    font-size: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 20;
}

header a {
    text-decoration: none;
    color: inherit;
}

.social-link-row {
    width: 33%;
}

.titlespace {
    width: 33%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: top;
}

.titlespace h1 {
    font-size: 2.8rem;
    margin: 0;
}

.menu-icon-space {
    font-size: initial;
    width: 33%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: top;
    font-size: 1.2rem;
    
}

.menu-icon-space i {
    margin-left: 10px;
}

.menu-icon-space .soft-button {
    cursor: pointer;
}