.grid-box {
    padding: 20px 0;
    width: 100%;
}

.grid-box .navigation {
    border-bottom: 2px solid #69C8C4;
}

.grid-box .navigation .tab {
    display: inline-block;
    color: #69C8C4;
    font-size: 1.6rem;
    margin-right: 30px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.grid-box .navigation .tab:first-of-type {
    font-weight: 700;
}

.image-blob {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.grid-box-default-slide {
    
    padding: 20px 0;
}

.grid-box-default-slide .image-tile {
    width: 30%;
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

.grid-box-default-slide .image-tile.resources {
    height: 500px;
    vertical-align: top;
}

.grid-box-default-slide .text-container {
    width: calc(70% - 20px);
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
}

.grid-box-default-slide .text-container a {
    font-size: 1.3rem;
    font-family: 'Georgia', serif
}