
.carousel {
    width: 100%;
    position: relative;
    padding-top: 34%; /* Aspect Ratio of 32:13 */
}

.carousel .overlay {
    background: #3a3a3a;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .overlay .text-container {
    width: 100%;
    background-color: rgba(17, 41, 75, 0.562);
    padding: 20px;
}

.overlay .text-container  .tile-display {
    width: 80%;
    text-align: right;
    float: right;
}

.overlay .tile-display.with-background {
    background: #11294B;
}

.overlay h1 {
    color: #fff;
    width: 100%;
    text-align: right;
    font-size: 3rem;
}


.overlay .pagination .dot {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.overlay .pagination .dot:hover {
    background: #ececec;
}

.overlay .pagination .dot.active {
    background: #ececec;
}