
.carousel {
    width: 100%;
    position: relative;
    padding-top: 34%; /* Aspect Ratio of 32:13 */
}

.carousel .underlay {
    background: #3a3a3a;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.carousel .carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .carousel-container .text-container {
    width: 100%;
    background-color: rgba(17, 41, 75, 0.562);
    padding: 20px;
    z-index: 4;
}

.carousel .carousel-container .text-container.transparent {
    background-color: rgba(17, 41, 75, 0);
}

.carousel-container .text-container .tile-display {
    width: 80%;
    text-align: right;
    float: right;
}

.carousel-container .tile-display.with-background {
    background: #11294B;
}

.carousel-container h1 {
    color: #fff;
    width: 100%;
    text-align: right;
    font-size: 2.5rem;
}

.carousel-container a {
    text-decoration: none;
    border: none;
}


.carousel-container .pagination .dot {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.carousel-container .pagination .dot:hover {
    background: #ececec;
}

.carousel-container .pagination .dot.active {
    background: #ececec;
}

  /** General Mobile Display */
  @media (max-width: 800px) {
    .carousel {
        padding-top: 70%; /* Aspect Ratio of 32:13 */
    }

    .carousel-container h1 {
        font-size: 1.3rem;
    }

    .carousel-container .text-container  .tile-display {
        width: 100%;
    }
  }