.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-gallery .tile {
    width: 50%;
    background-color: #000;
    color: #fff;
    height: 400px;
}

.image-gallery .tile h1 {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}