footer {
    width: 100%;
    background-color: rgba(17, 41, 75, 0.05);
    padding: 50px 0px; 
    font-size: 0;
    color: #303030;
    margin-top: 10px;
}

footer .row {
    width: 100%;
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .row h1 {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

footer .row h2 {
    margin: 0 0 10px 0;
    font-size: 1rem;
    font-weight: 400;
}

footer .row p {
    margin: 10px 0 10px 0;
    font-size: 0.9rem;
}

footer .row .cell {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 6);
    font-size: initial;
}

footer .row .cell.wide {
    width: calc(100% / 2);
}

footer .row .cell.anchor-right-bottom {
    height: 80px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .row .cell.anchor-right-bottom .social-link-row {
    height: initial;
    margin-top: 0;
}

  /** General Mobile Display */
@media (max-width: 800px) {
    footer .row .cell {
        width: calc(100% / 2);
    }

    footer .row .cell.wide {
        width: calc(100%);
    }

    footer .row .cell.anchor-right-bottom {
        height: 80px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
}