footer {
    width: 100%;
    background-color: rgba(17, 41, 75, 0.05);
    padding: 40px 20px; 
    font-size: 0;
    color: #303030;
}

footer .row {
    width: 100%;
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .row h1 {
    margin: 10px 0 10px 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

footer .row h2 {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

footer .row p {
    margin: 10px 0 0 0;
    font-size: 1.2rem;
}

footer .row .cell {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 4);
    font-size: initial;
}

footer .row .cell.wide {
    width: calc(100% / 2);
}

footer .row .cell.anchor-right-bottom {
    height: 100px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .row .cell.anchor-right-bottom .social-link-row {
    height: initial;
}