header.shallow {
    background-color: #fff;
    color: #11294B;
    font-size: 0;
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 20;
    box-shadow: 0 0 3px 2px #4444441f;
    text-align: center;
}

header.flex {
    display: flex;
}

header.shallow a {
    text-decoration: none;
    color: inherit;
}

header.shallow a.floating-i {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 140px;
    left: 0;
}

header.shallow .floating-block-i {
    height: 100%;
    width: 100%;
    background-color: #11294B;
}

header.shallow .floating-block-i .image-blob {
    background-image: contain;
    background-repeat: no-repeat;
    background-size: 40%;
}

header.shallow .titlespace {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    padding-top: 15px;
}

header.shallow .titlespace h1 {
    font-size: 2.8rem;
    margin: 0;
    display: block;
}

header.shallow .titlespace .center-links {
    font-size: 1.2rem;
    margin: 0;
}

header.shallow .titlespace .center-links .option {
    display: inline-block;
    margin: 15px 20px;
    transition: font-weight ease-in-out 0.3s;
}

header.shallow .titlespace .center-links .option.active {
    display: inline-block;
    margin: 15px 20px;
    font-weight: bold !important;
}

.menu-icon-space {
    font-size: initial;
    width: 30%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: top;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu-icon-space .long-menu-icon {
    margin-left: 15px;
    width: 40px;
    height: 100%;
    background-image: url('./../../../static/menu-icon.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}


.menu-icon-space .soft-button {
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.spacer {
    height: 120px;
    width: 100%;
}

/** Hide for mobile **/

/** General Mobile Display */
@media (max-width: 800px) {
    header.shallow {
      display: none;
    }

    .spacer.shallow {
        display: none;
    }
  }