.link-drawer .option {
    color: #048B90;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
 }

 .link-drawer {
    height: 500px;
 }
 
 .link-drawer .option:hover {
     color: #258d88;
 }

 .link-drawer .content {
     padding: 10px;
 }

 .link-drawer .content.active {
    font-size: 1rem;
 }

 .link-drawer .content.inactive {
    display: none;
    transition: 1s all ease-in-out;
 }

 .option-container .chevron {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 1rem;
   color: #048B90;
 }

 .option-container {
   position: relative;
   cursor: pointer;
 }

 .link-drawer ul li {
   font-family: "Georgia", serif;
   font-size: 19px;
   line-height: 30px;
   color: #11294B;
   margin-bottom: 20px;
 }

 .link-drawer ul li h1 {
   font-size: 19px;
   line-height: 30px;
   color: #11294B;
   margin: 0;
   font-family: "Georgia", serif;
 }

 .link-drawer ul li a {
   color: #69C8C4;
   border-bottom: 1px solid #69C8C4;
   text-decoration: none;
 }
 
 .link-drawer ul li a:hover {
   color: #048B90;
   border-bottom: 1px solid  #048B90;
   text-decoration: none;
 }